In [1]:
from imports import *

In [2]:
order_monthly = pd.read_csv(os.path.join(GE_DIR, 'order_monthly.csv'))

In [3]:

order_monthly

     product_id       month  count_raw  year
0             1  2018-01-01       1057  2018
1             1  2018-02-01        997  2018
2             1  2018-03-01       1219  2018
3             1  2018-04-01       1029  2018
4             1  2018-05-01       1783  2018
..          ...         ...        ...   ...
139           4  2022-08-01       3418  2022
140           4  2022-09-01       3460  2022
141           4  2022-10-01       4003  2022
142           4  2022-11-01       2870  2022
143           4  2022-12-01       3736  2022

[144 rows x 4 columns]

In [8]:
# map product name to product id
order_monthly = map_product(order_monthly,need='product_name')

In [9]:
# save to csv
order_monthly.to_csv(os.path.join(GE_DIR, 'order_monthly.csv'), index=False)