# read eqipment data

In [1]:
from imports import *

In [2]:
df = pd.read_csv(os.path.join(BASE_DIR,'equipment.csv'))

In [3]:
df

     line station  equipment_number equipment_name
0       1     OP1                 1          OP1-1
1       1     OP1                 2          OP1-2
2       1     OP1                 3          OP1-3
3       1     OP1                 4          OP1-4
4       1     OP1                 5          OP1-5
..    ...     ...               ...            ...
107     2    OP17                 1         OP17-1
108     2    OP18                 1         OP18-1
109     2    OP18                 2         OP18-2
110     2    OP18                 3         OP18-3
111     2    OP18                 4         OP18-4

[112 rows x 4 columns]

In [ ]:
# read target cycle time

In [4]:
target = 80

In [5]:
# 每条线基本在80上下

df.station.unique()

array(['OP1', 'OP2', 'OP3', 'OP4', 'OP5', 'OP6', 'OP7', 'OP8', 'OP9',
       'OP10', 'OP11', 'OP12', 'OP13', 'OP14', 'OP15', 'OP16', 'OP17',
       'OP18'], dtype=object)

In [8]:
# 随机生成每条线的cycle time
df_cycle = pd.DataFrame()

df_cycle['station'] = df.station.unique()
df_cycle['cycle_time'] = np.random.randint(60,85,df.station.nunique())

In [9]:
df_cycle

   station  cycle_time
0      OP1          65
1      OP2          75
2      OP3          76
3      OP4          84
4      OP5          75
5      OP6          75
6      OP7          76
7      OP8          70
8      OP9          78
9     OP10          81
10    OP11          82
11    OP12          84
12    OP13          77
13    OP14          75
14    OP15          76
15    OP16          76
16    OP17          83
17    OP18          64